.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 4rem 2rem;

  background-color: #f1f1f1;
}

.sidebar_sticky {
  position: sticky;
  top: 0;
  height: calc(100vh-64px);
  padding-top: 0.5rem;
  background-color: #f1f1f1;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 8.75rem;
  cursor: pointer;
}

.active {
  background-color: #db4c3f;
  color: white;
}

.nav_link_icon {
  margin-right: 0.7rem;
}

.sidebar_project {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_project_btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.project_btn {
  cursor: pointer;
}

.project_content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.project_content_hidden {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.new_project {
  display: none;
}

.add_project_input {
  background-color: #f6f6f6;
  text-decoration: none;
  width: 10rem;
  padding: 0.5rem;
}

.project_item {
}
