.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 4rem 0 2rem 1rem;
  background-color: #f1f1f1;
}

.sidebar_sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 64px);
  padding-top: 0.5rem;
  background-color: #f1f1f1;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 13rem;
  cursor: pointer;
}

.active {
  background-color: #db4c3f;
  color: white;
}

.nav_link_icon {
  margin-right: 0.7rem;
  padding-top: 0.2rem;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.sidebar_project {
  padding-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.project_title {
  margin-left: 1rem;
  cursor: pointer;
}

.add_project {
  margin-left: 4rem;
}

.add_project_2 {
  margin-left: 0.5rem;
  margin-top: 1rem;
  background-color: #db4c3f;
  color: #fafafa;
}

.project_content {
  overflow: hidden;
  background-color: #f1f1f1;
}

.project_content_hidden {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.new_project {
  display: none;
}

.add_project_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_project_input {
  background-color: #f6f6f6;
  text-decoration: none;
  outline-style: none;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
}
