.header {
  border-bottom: solid 1px #ca2100;
  background-color: #db4c3f;
  height: 4rem;
  z-index: 1001;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 55%;
  margin: auto;
  height: 4rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  margin-left: 2rem;
  color: white;
}

a > svg {
  height: 2rem;
  width: 2rem;
}
