.todo-list-item {
  border-bottom: 0.1rem solid #dddddd;
  background-color: #f6f6f6;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

.todo-list-item:hover:not(.header) {
  background-color: #eeeeee;
}
