.content {
  padding-top: 4rem;
  padding-left: 17.31rem;
  height: calc(100vh - 4rem);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content__board {
  width: 75rem;
  height: 100vh;
  margin: 0 3rem;
}

.content__board__title {
  margin-top: 0.6rem;
  margin-left: 0.3rem;
}
