.list_item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: block;
}

.todo_list_item {
  border-bottom: 0.1rem solid #dddddd;
  background-color: #f6f6f6;
  padding: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.todo_list_item:hover {
  background-color: #eeeeee;
}

.list_item_edit {
  width: 75%;
}

.icon_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item_icon {
  margin-right: 1rem;
  padding: 0.3rem;
  cursor: pointer;
}
